body{
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url('./../../img/pat-17.png');
}
.contain{
  float: left;
  background-color: maroon;
}
.div-form{
  float: left;
  border: 1px #ccc solid;
}
.add-teams{text-align: center;}
.header{background-color: maroon; padding: 2px 90px;}
.contain-main{
  width: 80%;
  margin: auto;
  padding-top: 20px;
  height: 650px;
  background-color: #FFF;
  padding: 20px 0px 20px 20px;
}
.notification{
  color: maroon;
}
.item-group{
  width: 22%;
  height: 150px;
  float: left;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  /*background-image: url('./../../img/bg-battle.jpg');*/
}
.item-group img{
  z-index: 1;
  width: 250px;
  height: 150px;
  position: absolute;
  border-radius: 15px;
}
.item-group div.bg-opacity{
  background-color: black;
  width: 250px;
  height: 150px;
  z-index: 2;
  position: absolute;
  opacity: 0.6;
  border-radius: 15px;
}
.item-group div.text{
  width: 250px;
  height: 150px;
  z-index: 3;
  position: absolute;
  padding: 25px 12px;
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
}
.item-group div.text:hover{
  color: #F90;
}
.title{
  color: maroon;
  font-size: 25px;
  font-weight: bold;
}
.title-2{
  color: maroon;
  font-size: 15px;
  font-weight: bold;
}
.battle{
  width: 800px;
  height: 140px;
  margin: auto;
  padding: 5px 50px;
  margin-bottom: 10px;
  border: solid 1px #ccc;
  border-radius: 10px;
  /*background-color: #F3F3F3;*/
  background-color: #FFF;

}
.battle button{
  float: left;
  width: 200px;
}
.battle p{float: left; font-weight: bold; color: blue; margin: 0px 10px;}
.battle input[type=number]{
  width: 50px;
  height: 35px;
  border-radius: 10px;
  float: left;
  background-color: #fff;
  margin: 0px 60px;
}
.batte input[type=button]{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  float: right;
  margin: 0px 10px;
}

.float-right{
  float: right;
}
.bg-white{
  background-color: #fff;
}
.notification{
  color: red;
  font-weight: normal;
}
.item-group .text .finish{ color: yellow }
.item-group .text .block{ color: maroon }

a.disabled {
   pointer-events: none;
   cursor: default;
Ư